[run]
source = src
omit =
    */migrations/*
    */tests/*
    manage.py

[report]
show_missing = True
fail_under = 85
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__
